In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [2]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 10)

In [3]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [4]:
F_sel = ['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)']
trainD = trainD[['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)','active']]
testD = testD[['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)','active']]

In [5]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=10, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True,n_jobs = 10)

In [6]:
compare_models()

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=10)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      1  0.7204
1   1.121900      2.220205  1.085884       0      0  0.9989
2   0.057108     -0.509125 -1.143138       1      1  0.8321
3  -0.569937      0.036741 -0.662445       1      1  0.8850
4   1.110069      2.766071  1.085884       0      0  0.9989
5  -0.380641     -0.509125 -0.236023       1      1  0.8765
6  -0.972192     -1.054991 -1.022965       1      1  0.8229
7  -0.924868     -1.054991 -1.022965       1      1  0.8229
8   0.033446      0.036741  0.547042       1      0  0.9481
9   1.086407      2.220205  1.085884       1      0  0.9989
10 -0.250499     -0.509125 -0.236023       1      1  0.8777
11 -0.356979     -0.509125 -0.236023       1      1  0.8767
12 -1.149657     -1.054991 -1.022965       1      1  0.8227
13 -0.203175     -0.509125 -0.236023       1      1  0.8782

In [6]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      0  0.5058
1   1.121900      2.220205  1.085884       0      0  0.5143
2   0.057108     -0.509125 -1.143138       1      1  0.5063
3  -0.569937      0.036741 -0.662445       1      1  0.5174
4   1.110069      2.766071  1.085884       0      0  0.5143
5  -0.380641     -0.509125 -0.236023       1      1  0.5178
6  -0.972192     -1.054991 -1.022965       1      1  0.5178
7  -0.924868     -1.054991 -1.022965       1      1  0.5178
8   0.033446      0.036741  0.547042       1      0  0.5061
9   1.086407      2.220205  1.085884       1      0  0.5143
10 -0.250499     -0.509125 -0.236023       1      1  0.5159
11 -0.356979     -0.509125 -0.236023       1      1  0.5178
12 -1.149657     -1.054991 -1.022965       1      1  0.5177
13 -0.203175     -0.509125 -0.236023       1      1  0.5155

In [9]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      0  0.5520
1   1.121900      2.220205  1.085884       0      0  0.7187
2   0.057108     -0.509125 -1.143138       1      1  0.5892
3  -0.569937      0.036741 -0.662445       1      1  0.7475
4   1.110069      2.766071  1.085884       0      0  0.7187
5  -0.380641     -0.509125 -0.236023       1      1  0.7592
6  -0.972192     -1.054991 -1.022965       1      1  0.7277
7  -0.924868     -1.054991 -1.022965       1      1  0.7277
8   0.033446      0.036741  0.547042       1      0  0.5971
9   1.086407      2.220205  1.085884       1      0  0.7187
10 -0.250499     -0.509125 -0.236023       1      1  0.6804
11 -0.356979     -0.509125 -0.236023       1      1  0.7592
12 -1.149657     -1.054991 -1.022965       1      1  0.7075
13 -0.203175     -0.509125 -0.236023       1      1  0.6804

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      1  0.4500
1   1.121900      2.220205  1.085884       0      0  0.9492
2   0.057108     -0.509125 -1.143138       1      1  0.8548
3  -0.569937      0.036741 -0.662445       1      1  0.8646
4   1.110069      2.766071  1.085884       0      0  0.9161
5  -0.380641     -0.509125 -0.236023       1      1  0.8619
6  -0.972192     -1.054991 -1.022965       1      1  0.9105
7  -0.924868     -1.054991 -1.022965       1      1  0.9119
8   0.033446      0.036741  0.547042       1      0  0.6858
9   1.086407      2.220205  1.085884       1      0  0.9498
10 -0.250499     -0.509125 -0.236023       1      1  0.8457
11 -0.356979     -0.509125 -0.236023       1      1  0.8594
12 -1.149657     -1.054991 -1.022965       1      1  0.9013
13 -0.203175     -0.509125 -0.236023       1      1  0.8384

In [8]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      1  0.9316
1   1.121900      2.220205  1.085884       0      0  0.9378
2   0.057108     -0.509125 -1.143138       1      1  0.7383
3  -0.569937      0.036741 -0.662445       1      1  0.9991
4   1.110069      2.766071  1.085884       0      0  0.9378
5  -0.380641     -0.509125 -0.236023       1      1  0.9976
6  -0.972192     -1.054991 -1.022965       1      1  0.9977
7  -0.924868     -1.054991 -1.022965       1      1  0.9977
8   0.033446      0.036741  0.547042       1      0  0.8881
9   1.086407      2.220205  1.085884       1      0  0.9378
10 -0.250499     -0.509125 -0.236023       1      1  0.9822
11 -0.356979     -0.509125 -0.236023       1      1  0.9977
12 -1.149657     -1.054991 -1.022965       1      1  0.9969
13 -0.203175     -0.509125 -0.236023       1      1  0.9863

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      1  0.5304
1   1.121900      2.220205  1.085884       0      0  0.8618
2   0.057108     -0.509125 -1.143138       1      1  0.6775
3  -0.569937      0.036741 -0.662445       1      1  0.7332
4   1.110069      2.766071  1.085884       0      0  0.8618
5  -0.380641     -0.509125 -0.236023       1      1  0.7684
6  -0.972192     -1.054991 -1.022965       1      1  0.7483
7  -0.924868     -1.054991 -1.022965       1      1  0.7483
8   0.033446      0.036741  0.547042       1      0  0.5422
9   1.086407      2.220205  1.085884       1      0  0.8618
10 -0.250499     -0.509125 -0.236023       1      1  0.7684
11 -0.356979     -0.509125 -0.236023       1      1  0.7684
12 -1.149657     -1.054991 -1.022965       1      1  0.7538
13 -0.203175     -0.509125 -0.236023       1      1  0.7527

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      0  0.6157
1   1.121900      2.220205  1.085884       0      0  0.9737
2   0.057108     -0.509125 -1.143138       1      1  0.5996
3  -0.569937      0.036741 -0.662445       1      1  0.8746
4   1.110069      2.766071  1.085884       0      0  0.9737
5  -0.380641     -0.509125 -0.236023       1      1  0.8746
6  -0.972192     -1.054991 -1.022965       1      1  0.8746
7  -0.924868     -1.054991 -1.022965       1      1  0.8746
8   0.033446      0.036741  0.547042       1      0  0.6852
9   1.086407      2.220205  1.085884       1      0  0.9737
10 -0.250499     -0.509125 -0.236023       1      1  0.8339
11 -0.356979     -0.509125 -0.236023       1      1  0.8746
12 -1.149657     -1.054991 -1.022965       1      1  0.8746
13 -0.203175     -0.509125 -0.236023       1      1  0.8339

In [14]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0   0.317390      0.036741 -0.003429       1      1  0.9071
1   1.121900      2.220205  1.085884       0      0  0.9899
2   0.057108     -0.509125 -1.143138       1      1  0.7073
3  -0.569937      0.036741 -0.662445       1      1  0.9913
4   1.110069      2.766071  1.085884       0      0  0.9899
5  -0.380641     -0.509125 -0.236023       1      1  0.9910
6  -0.972192     -1.054991 -1.022965       1      1  0.9911
7  -0.924868     -1.054991 -1.022965       1      1  0.9911
8   0.033446      0.036741  0.547042       1      0  0.9673
9   1.086407      2.220205  1.085884       1      0  0.9899
10 -0.250499     -0.509125 -0.236023       1      1  0.9812
11 -0.356979     -0.509125 -0.236023       1      1  0.9910
12 -1.149657     -1.054991 -1.022965       1      1  0.9912
13 -0.203175     -0.509125 -0.236023       1      1  0.9798