In [29]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 2)

In [31]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [32]:
F_sel = ['EE_B(s)', 'Mor04s', 'CATS2D_03_AL']
trainD = trainD[['EE_B(s)', 'Mor04s', 'CATS2D_03_AL','active']]
testD = testD[['EE_B(s)', 'Mor04s', 'CATS2D_03_AL','active']]

In [33]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=2, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [34]:
compare_models()

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=-1, num_parallel_tree=1, objective='binary:logistic',
              predictor='auto', random_state=2, reg_alpha=0, ...)

In [35]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      1  0.9208
1  -0.221482  0.198355     -0.428121       1      1  0.9415
2   1.257415  1.297082      1.667152       0      0  0.7144
3   1.205065  1.221826      2.190970       0      0  0.7144
4   0.118795 -0.221569      0.095698       0      0  0.7135
5  -1.176876 -0.124490     -1.475757       1      1  0.9415
6   1.100364  0.100523      1.667152       0      0  0.7144
7   0.144970 -0.399171      0.095698       1      0  0.7144
8   3.456131  2.252823     -0.428121       1      0  0.7144
9   0.472160  0.356391      0.357607       0      0  0.7144
10 -1.307752 -0.515817     -0.428121       0      1  0.9415
11 -0.313096 -0.571506     -0.428121       1      1  0.9415
12  0.131883 -0.299834      0.357607       0      0  0.7144
13  1.296678  0.935856      1.667152       0      0  0.7144

In [49]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      0  0.5000
1  -0.221482  0.198355     -0.428121       1      1  0.5003
2   1.257415  1.297082      1.667152       0      0  0.5002
3   1.205065  1.221826      2.190970       0      0  0.5002
4   0.118795 -0.221569      0.095698       0      1  0.5002
5  -1.176876 -0.124490     -1.475757       1      1  0.5003
6   1.100364  0.100523      1.667152       0      0  0.5002
7   0.144970 -0.399171      0.095698       1      1  0.5002
8   3.456131  2.252823     -0.428121       1      0  0.5000
9   0.472160  0.356391      0.357607       0      0  0.5001
10 -1.307752 -0.515817     -0.428121       0      1  0.5004
11 -0.313096 -0.571506     -0.428121       1      1  0.5005
12  0.131883 -0.299834      0.357607       0      0  0.5000
13  1.296678  0.935856      1.667152       0      0  0.5002

In [54]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      1  0.5895
1  -0.221482  0.198355     -0.428121       1      1  0.8973
2   1.257415  1.297082      1.667152       0      0  0.8911
3   1.205065  1.221826      2.190970       0      0  0.8911
4   0.118795 -0.221569      0.095698       0      1  0.7923
5  -1.176876 -0.124490     -1.475757       1      1  0.9124
6   1.100364  0.100523      1.667152       0      0  0.8911
7   0.144970 -0.399171      0.095698       1      1  0.7923
8   3.456131  2.252823     -0.428121       1      0  0.6032
9   0.472160  0.356391      0.357607       0      0  0.8911
10 -1.307752 -0.515817     -0.428121       0      1  0.9616
11 -0.313096 -0.571506     -0.428121       1      1  0.9705
12  0.131883 -0.299834      0.357607       0      0  0.7153
13  1.296678  0.935856      1.667152       0      0  0.8911

/home/admin/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)

[LightGBM] [Warning] bagging_fraction is set=0.8141223462093657, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8141223462093657
[LightGBM] [Warning] feature_fraction is set=0.9820338896573233, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9820338896573233
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] bagging_fraction is set=0.8141223462093657, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8141223462093657
[LightGBM] [Warning] feature_fraction is set=0.9820338896573233, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9820338896573233
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] bagging_fraction is set=0.8141223462093657, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8141223462093657
[LightGBM] [Warning] feature_fraction is set=0.9820338896573233, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9820338896573233
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] bagging_fraction is set=0.8141223462093657, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8141223462093657
[LightGBM] [Warning] feature_fraction is set=0.9820338896573233, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9820338896573233
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] bagging_fraction is set=0.8141223462093657, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8141223462093657
[LightGBM] [Warning] feature_fraction is set=0.9820338896573233, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9820338896573233
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2

In [38]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      0  0.6195
1  -0.221482  0.198355     -0.428121       1      1  0.8499
2   1.257415  1.297082      1.667152       0      0  0.7746
3   1.205065  1.221826      2.190970       0      0  0.7432
4   0.118795 -0.221569      0.095698       0      1  0.6660
5  -1.176876 -0.124490     -1.475757       1      1  0.8466
6   1.100364  0.100523      1.667152       0      0  0.8878
7   0.144970 -0.399171      0.095698       1      1  0.6467
8   3.456131  2.252823     -0.428121       1      0  0.7605
9   0.472160  0.356391      0.357607       0      0  0.6493
10 -1.307752 -0.515817     -0.428121       0      1  0.8851
11 -0.313096 -0.571506     -0.428121       1      1  0.8844
12  0.131883 -0.299834      0.357607       0      0  0.5000
13  1.296678  0.935856      1.667152       0      0  0.8014

In [51]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      1  0.6627
1  -0.221482  0.198355     -0.428121       1      1  0.8109
2   1.257415  1.297082      1.667152       0      0  0.8115
3   1.205065  1.221826      2.190970       0      0  0.7879
4   0.118795 -0.221569      0.095698       0      1  0.8170
5  -1.176876 -0.124490     -1.475757       1      1  0.8956
6   1.100364  0.100523      1.667152       0      0  0.8537
7   0.144970 -0.399171      0.095698       1      1  0.8405
8   3.456131  2.252823     -0.428121       1      0  0.5615
9   0.472160  0.356391      0.357607       0      0  0.8950
10 -1.307752 -0.515817     -0.428121       0      1  0.9394
11 -0.313096 -0.571506     -0.428121       1      1  0.9618
12  0.131883 -0.299834      0.357607       0      0  0.6791
13  1.296678  0.935856      1.667152       0      0  0.8628

[LightGBM] [Warning] bagging_fraction is set=0.43705526965409613, subsample=1.0 will be ignored. Current value: bagging_fraction=0.43705526965409613
[LightGBM] [Warning] feature_fraction is set=0.9105728527023291, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9105728527023291
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1

/home/admin/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)

[LightGBM] [Warning] bagging_fraction is set=0.43705526965409613, subsample=1.0 will be ignored. Current value: bagging_fraction=0.43705526965409613
[LightGBM] [Warning] feature_fraction is set=0.9105728527023291, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9105728527023291
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] bagging_fraction is set=0.43705526965409613, subsample=1.0 will be ignored. Current value: bagging_fraction=0.43705526965409613
[LightGBM] [Warning] feature_fraction is set=0.9105728527023291, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9105728527023291
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1

/home/admin/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/home/admin/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)

[LightGBM] [Warning] bagging_fraction is set=0.43705526965409613, subsample=1.0 will be ignored. Current value: bagging_fraction=0.43705526965409613
[LightGBM] [Warning] feature_fraction is set=0.9105728527023291, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9105728527023291
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] bagging_fraction is set=0.43705526965409613, subsample=1.0 will be ignored. Current value: bagging_fraction=0.43705526965409613
[LightGBM] [Warning] feature_fraction is set=0.9105728527023291, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9105728527023291
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1

/home/admin/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/home/admin/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)

In [40]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      0  0.6527
1  -0.221482  0.198355     -0.428121       1      1  0.7670
2   1.257415  1.297082      1.667152       0      0  0.9171
3   1.205065  1.221826      2.190970       0      0  0.8287
4   0.118795 -0.221569      0.095698       0      1  0.7403
5  -1.176876 -0.124490     -1.475757       1      1  0.8894
6   1.100364  0.100523      1.667152       0      0  0.9714
7   0.144970 -0.399171      0.095698       1      1  0.7926
8   3.456131  2.252823     -0.428121       1      0  0.8512
9   0.472160  0.356391      0.357607       0      0  0.8249
10 -1.307752 -0.515817     -0.428121       0      1  0.9681
11 -0.313096 -0.571506     -0.428121       1      1  0.9854
12  0.131883 -0.299834      0.357607       0      0  0.5248
13  1.296678  0.935856      1.667152       0      0  0.9301

In [41]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      1  0.5128
1  -0.221482  0.198355     -0.428121       1      1  0.7845
2   1.257415  1.297082      1.667152       0      0  0.9124
3   1.205065  1.221826      2.190970       0      0  0.8969
4   0.118795 -0.221569      0.095698       0      1  0.6774
5  -1.176876 -0.124490     -1.475757       1      1  0.8731
6   1.100364  0.100523      1.667152       0      0  0.9657
7   0.144970 -0.399171      0.095698       1      1  0.6650
8   3.456131  2.252823     -0.428121       1      0  0.7286
9   0.472160  0.356391      0.357607       0      0  0.8399
10 -1.307752 -0.515817     -0.428121       0      1  0.9434
11 -0.313096 -0.571506     -0.428121       1      1  1.0000
12  0.131883 -0.299834      0.357607       0      0  0.5659
13  1.296678  0.935856      1.667152       0      0  0.9648

In [42]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

     EE_B(s)    Mor04s  CATS2D_03_AL  active  Label   Score
0  -0.234570 -0.591072      0.619516       1      1  0.6110
1  -0.221482  0.198355     -0.428121       1      1  0.7250
2   1.257415  1.297082      1.667152       0      0  0.6467
3   1.205065  1.221826      2.190970       0      0  0.6368
4   0.118795 -0.221569      0.095698       0      1  0.6934
5  -1.176876 -0.124490     -1.475757       1      1  0.7942
6   1.100364  0.100523      1.667152       0      0  0.6862
7   0.144970 -0.399171      0.095698       1      1  0.6911
8   3.456131  2.252823     -0.428121       1      0  0.5302
9   0.472160  0.356391      0.357607       0      0  0.6500
10 -1.307752 -0.515817     -0.428121       0      1  0.8154
11 -0.313096 -0.571506     -0.428121       1      1  0.8484
12  0.131883 -0.299834      0.357607       0      1  0.5234
13  1.296678  0.935856      1.667152       0      0  0.6709