In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 9)

In [4]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [5]:
F_sel = ['EE_B(s)', 'G3m', 'HATS5u']
trainD = trainD[['EE_B(s)', 'G3m', 'HATS5u','active']]
testD = testD[['EE_B(s)', 'G3m', 'HATS5u','active']]

In [6]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=9, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True,n_jobs = 10)

In [6]:
compare_models()

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=10,
                     oob_score=False, random_state=9, verbose=0,
                     warm_start=False)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.9938
1   1.251707 -0.485866  0.822674       0      1  0.5609
2  -0.210395 -0.457875  0.598081       0      1  0.9370
3   0.079505 -0.492864  0.544888       0      1  0.6283
4   1.125664 -0.363407 -0.743566       0      0  0.9736
5   1.113060 -0.356409 -0.359394       0      0  0.8204
6   1.264312 -0.545346 -0.442139       0      0  0.8921
7  -0.286021 -0.541847 -0.294380       1      1  0.9842
8  -2.277507 -0.475369  0.639453       0      1  0.9942
9  -0.323834 -0.503360  0.840405       1      1  0.9614
10 -1.092699 -0.499861  0.852225       1      1  0.9941
11  1.213894  2.404165  0.574440       0      1  0.8681
12  1.213894 -0.485866  0.923149       0      1  0.5631
13  0.671909 -0.328419 -0.022505       0      1  0.5039

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.5042
1   1.251707 -0.485866  0.822674       0      0  0.5002
2  -0.210395 -0.457875  0.598081       0      1  0.5029
3   0.079505 -0.492864  0.544888       0      0  0.5002
4   1.125664 -0.363407 -0.743566       0      0  0.5000
5   1.113060 -0.356409 -0.359394       0      1  0.5014
6   1.264312 -0.545346 -0.442139       0      0  0.5014
7  -0.286021 -0.541847 -0.294380       1      1  0.5010
8  -2.277507 -0.475369  0.639453       0      1  0.5021
9  -0.323834 -0.503360  0.840405       1      1  0.5017
10 -1.092699 -0.499861  0.852225       1      1  0.5020
11  1.213894  2.404165  0.574440       0      1  0.5015
12  1.213894 -0.485866  0.923149       0      0  0.5001
13  0.671909 -0.328419 -0.022505       0      1  0.5016

In [9]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.9999
1   1.251707 -0.485866  0.822674       0      1  0.9035
2  -0.210395 -0.457875  0.598081       0      1  0.9995
3   0.079505 -0.492864  0.544888       0      0  0.7114
4   1.125664 -0.363407 -0.743566       0      1  0.6388
5   1.113060 -0.356409 -0.359394       0      1  0.9962
6   1.264312 -0.545346 -0.442139       0      0  0.9501
7  -0.286021 -0.541847 -0.294380       1      1  0.8687
8  -2.277507 -0.475369  0.639453       0      1  0.9939
9  -0.323834 -0.503360  0.840405       1      1  0.9893
10 -1.092699 -0.499861  0.852225       1      1  0.9845
11  1.213894  2.404165  0.574440       0      1  0.7324
12  1.213894 -0.485866  0.923149       0      1  0.9035
13  0.671909 -0.328419 -0.022505       0      1  0.9860

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.9134
1   1.251707 -0.485866  0.822674       0      1  0.4724
2  -0.210395 -0.457875  0.598081       0      1  0.8697
3   0.079505 -0.492864  0.544888       0      1  0.8064
4   1.125664 -0.363407 -0.743566       0      0  0.8561
5   1.113060 -0.356409 -0.359394       0      0  0.7785
6   1.264312 -0.545346 -0.442139       0      0  0.8388
7  -0.286021 -0.541847 -0.294380       1      1  0.8633
8  -2.277507 -0.475369  0.639453       0      1  0.8419
9  -0.323834 -0.503360  0.840405       1      1  0.8716
10 -1.092699 -0.499861  0.852225       1      1  0.9101
11  1.213894  2.404165  0.574440       0      1  0.8269
12  1.213894 -0.485866  0.923149       0      1  0.5000
13  0.671909 -0.328419 -0.022505       0      1  0.5067

In [14]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.5019
1   1.251707 -0.485866  0.822674       0      1  0.5012
2  -0.210395 -0.457875  0.598081       0      1  0.5020
3   0.079505 -0.492864  0.544888       0      1  0.5011
4   1.125664 -0.363407 -0.743566       0      1  0.5009
5   1.113060 -0.356409 -0.359394       0      1  0.5013
6   1.264312 -0.545346 -0.442139       0      0  0.5004
7  -0.286021 -0.541847 -0.294380       1      1  0.5005
8  -2.277507 -0.475369  0.639453       0      1  0.5019
9  -0.323834 -0.503360  0.840405       1      1  0.5005
10 -1.092699 -0.499861  0.852225       1      1  0.5008
11  1.213894  2.404165  0.574440       0      1  0.5017
12  1.213894 -0.485866  0.923149       0      1  0.5012
13  0.671909 -0.328419 -0.022505       0      1  0.5014

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.5815
1   1.251707 -0.485866  0.822674       0      0  0.5451
2  -0.210395 -0.457875  0.598081       0      1  0.5683
3   0.079505 -0.492864  0.544888       0      1  0.5380
4   1.125664 -0.363407 -0.743566       0      0  0.5946
5   1.113060 -0.356409 -0.359394       0      0  0.5242
6   1.264312 -0.545346 -0.442139       0      0  0.5598
7  -0.286021 -0.541847 -0.294380       1      1  0.5483
8  -2.277507 -0.475369  0.639453       0      1  0.5890
9  -0.323834 -0.503360  0.840405       1      1  0.5513
10 -1.092699 -0.499861  0.852225       1      1  0.5804
11  1.213894  2.404165  0.574440       0      0  0.5289
12  1.213894 -0.485866  0.923149       0      0  0.5264
13  0.671909 -0.328419 -0.022505       0      1  0.5145

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.8722
1   1.251707 -0.485866  0.822674       0      0  0.6638
2  -0.210395 -0.457875  0.598081       0      1  0.8166
3   0.079505 -0.492864  0.544888       0      0  0.6608
4   1.125664 -0.363407 -0.743566       0      0  0.5584
5   1.113060 -0.356409 -0.359394       0      1  0.6432
6   1.264312 -0.545346 -0.442139       0      0  0.7389
7  -0.286021 -0.541847 -0.294380       1      1  0.6218
8  -2.277507 -0.475369  0.639453       0      1  0.6994
9  -0.323834 -0.503360  0.840405       1      1  0.6343
10 -1.092699 -0.499861  0.852225       1      1  0.6220
11  1.213894  2.404165  0.574440       0      1  0.5695
12  1.213894 -0.485866  0.923149       0      0  0.6313
13  0.671909 -0.328419 -0.022505       0      1  0.6534

In [16]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

     EE_B(s)       G3m    HATS5u  active  Label   Score
0  -0.336439  0.735225  0.438502       1      1  0.8509
1   1.251707 -0.485866  0.822674       0      1  0.5699
2  -0.210395 -0.457875  0.598081       0      1  0.8210
3   0.079505 -0.492864  0.544888       0      1  0.6026
4   1.125664 -0.363407 -0.743566       0      1  0.5879
5   1.113060 -0.356409 -0.359394       0      1  0.7017
6   1.264312 -0.545346 -0.442139       0      0  0.5453
7  -0.286021 -0.541847 -0.294380       1      1  0.6812
8  -2.277507 -0.475369  0.639453       0      1  0.7755
9  -0.323834 -0.503360  0.840405       1      1  0.7137
10 -1.092699 -0.499861  0.852225       1      1  0.7245
11  1.213894  2.404165  0.574440       0      1  0.6888
12  1.213894 -0.485866  0.923149       0      1  0.5824
13  0.671909 -0.328419 -0.022505       0      1  0.7115