In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [2]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 5)

In [3]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [4]:
F_sel = ['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)']
trainD = trainD[['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)','active']]
testD = testD[['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)','active']]

In [5]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=5, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [6]:
compare_models()

GaussianNB(priors=None, var_smoothing=1e-09)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.9999
1   1.259103      2.044589  1.173942       1      0  1.0000
2  -0.317913     -0.029921 -0.289215       1      1  1.0000
3   0.375430     -0.029921 -0.031768       1      1  0.9683
4  -1.323940     -1.585803 -2.026982       1      1  1.0000
5  -2.520297     -1.585803 -2.026982       0      1  1.0000
6  -0.372292     -0.029921 -0.289215       1      1  1.0000
7  -1.391915     -1.585803 -2.026982       1      1  1.0000
8  -0.141179     -0.029921 -0.289215       1      1  0.9999
9  -0.168369     -0.548548 -0.289215       0      1  0.9999
10  0.035556      0.229393  0.577523       0      1  0.9161
11 -0.644192     -0.029921 -0.761201       1      1  1.0000
12  1.408647      1.525962  2.778694       0      0  1.0000
13  3.488677     -0.548548 -0.289215       1      0  0.9887

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.9400
1   1.259103      2.044589  1.173942       1      0  0.9479
2  -0.317913     -0.029921 -0.289215       1      1  0.8082
3   0.375430     -0.029921 -0.031768       1      1  0.8579
4  -1.323940     -1.585803 -2.026982       1      1  0.9117
5  -2.520297     -1.585803 -2.026982       0      1  0.8764
6  -0.372292     -0.029921 -0.289215       1      1  0.8967
7  -1.391915     -1.585803 -2.026982       1      1  0.9080
8  -0.141179     -0.029921 -0.289215       1      1  0.7310
9  -0.168369     -0.548548 -0.289215       0      1  0.9342
10  0.035556      0.229393  0.577523       0      0  0.6977
11 -0.644192     -0.029921 -0.761201       1      1  0.8910
12  1.408647      1.525962  2.778694       0      0  0.9492
13  3.488677     -0.548548 -0.289215       1      1  0.6197

In [22]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.8619
1   1.259103      2.044589  1.173942       1      0  0.9272
2  -0.317913     -0.029921 -0.289215       1      1  0.8268
3   0.375430     -0.029921 -0.031768       1      0  0.8420
4  -1.323940     -1.585803 -2.026982       1      1  0.9291
5  -2.520297     -1.585803 -2.026982       0      1  0.9291
6  -0.372292     -0.029921 -0.289215       1      1  0.9016
7  -1.391915     -1.585803 -2.026982       1      1  0.9291
8  -0.141179     -0.029921 -0.289215       1      1  0.7146
9  -0.168369     -0.548548 -0.289215       0      1  0.7816
10  0.035556      0.229393  0.577523       0      0  0.8186
11 -0.644192     -0.029921 -0.761201       1      1  0.9016
12  1.408647      1.525962  2.778694       0      0  0.9272
13  3.488677     -0.548548 -0.289215       1      0  0.5358

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.8553
1   1.259103      2.044589  1.173942       1      0  0.9072
2  -0.317913     -0.029921 -0.289215       1      1  0.7938
3   0.375430     -0.029921 -0.031768       1      1  0.5915
4  -1.323940     -1.585803 -2.026982       1      1  0.7347
5  -2.520297     -1.585803 -2.026982       0      1  0.6083
6  -0.372292     -0.029921 -0.289215       1      1  0.8005
7  -1.391915     -1.585803 -2.026982       1      1  0.7311
8  -0.141179     -0.029921 -0.289215       1      1  0.7667
9  -0.168369     -0.548548 -0.289215       0      1  0.8493
10  0.035556      0.229393  0.577523       0      0  0.5524
11 -0.644192     -0.029921 -0.761201       1      1  0.8467
12  1.408647      1.525962  2.778694       0      0  0.7630
13  3.488677     -0.548548 -0.289215       1      0  0.5756

In [11]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.9944
1   1.259103      2.044589  1.173942       1      0  0.7879
2  -0.317913     -0.029921 -0.289215       1      1  0.9948
3   0.375430     -0.029921 -0.031768       1      1  0.9160
4  -1.323940     -1.585803 -2.026982       1      1  0.9958
5  -2.520297     -1.585803 -2.026982       0      1  0.9958
6  -0.372292     -0.029921 -0.289215       1      1  0.9950
7  -1.391915     -1.585803 -2.026982       1      1  0.9958
8  -0.141179     -0.029921 -0.289215       1      1  0.9933
9  -0.168369     -0.548548 -0.289215       0      1  0.9944
10  0.035556      0.229393  0.577523       0      1  0.5436
11 -0.644192     -0.029921 -0.761201       1      1  0.9950
12  1.408647      1.525962  2.778694       0      0  0.7879
13  3.488677     -0.548548 -0.289215       1      1  0.9683

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.5718
1   1.259103      2.044589  1.173942       1      0  0.6423
2  -0.317913     -0.029921 -0.289215       1      1  0.5518
3   0.375430     -0.029921 -0.031768       1      1  0.5171
4  -1.323940     -1.585803 -2.026982       1      1  0.5794
5  -2.520297     -1.585803 -2.026982       0      1  0.5794
6  -0.372292     -0.029921 -0.289215       1      1  0.5518
7  -1.391915     -1.585803 -2.026982       1      1  0.5794
8  -0.141179     -0.029921 -0.289215       1      1  0.5442
9  -0.168369     -0.548548 -0.289215       0      1  0.5718
10  0.035556      0.229393  0.577523       0      0  0.5203
11 -0.644192     -0.029921 -0.761201       1      1  0.5518
12  1.408647      1.525962  2.778694       0      0  0.6423
13  3.488677     -0.548548 -0.289215       1      1  0.5311

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.8167
1   1.259103      2.044589  1.173942       1      0  0.9826
2  -0.317913     -0.029921 -0.289215       1      1  0.8380
3   0.375430     -0.029921 -0.031768       1      0  0.6074
4  -1.323940     -1.585803 -2.026982       1      1  0.9334
5  -2.520297     -1.585803 -2.026982       0      1  0.9334
6  -0.372292     -0.029921 -0.289215       1      1  0.8694
7  -1.391915     -1.585803 -2.026982       1      1  0.9334
8  -0.141179     -0.029921 -0.289215       1      1  0.7416
9  -0.168369     -0.548548 -0.289215       0      1  0.8073
10  0.035556      0.229393  0.577523       0      0  0.8018
11 -0.644192     -0.029921 -0.761201       1      1  0.8965
12  1.408647      1.525962  2.778694       0      0  0.9826
13  3.488677     -0.548548 -0.289215       1      1  0.6088

In [23]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.222748     -0.548548 -0.289215       1      1  0.8778
1   1.259103      2.044589  1.173942       1      0  0.8803
2  -0.317913     -0.029921 -0.289215       1      1  0.8816
3   0.375430     -0.029921 -0.031768       1      0  0.5881
4  -1.323940     -1.585803 -2.026982       1      1  0.9024
5  -2.520297     -1.585803 -2.026982       0      1  0.9024
6  -0.372292     -0.029921 -0.289215       1      1  0.8913
7  -1.391915     -1.585803 -2.026982       1      1  0.9024
8  -0.141179     -0.029921 -0.289215       1      1  0.8271
9  -0.168369     -0.548548 -0.289215       0      1  0.8778
10  0.035556      0.229393  0.577523       0      0  0.7285
11 -0.644192     -0.029921 -0.761201       1      1  0.8852
12  1.408647      1.525962  2.778694       0      0  0.8803
13  3.488677     -0.548548 -0.289215       1      1  0.6395