In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [2]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 6)

In [3]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [4]:
F_sel = ['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)']
trainD = trainD[['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)','active']]
testD = testD[['EE_B(s)', 'CATS2D_03_AL', 'TPSA(NO)','active']]

In [5]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=6, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [6]:
compare_models()

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=6, solver='auto',
                tol=0.001)

In [19]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.8037
1  -0.176995     -0.417907 -0.165227       1      1  0.9773
2   0.030608      0.081660  0.591990       0      0  0.9682
3   0.053675      0.081660  0.591990       1      0  0.9595
4  -0.349997      0.081660 -0.165227       1      1  1.0000
5  -0.349997     -0.417907 -0.165227       1      1  1.0000
6   0.987886      2.079929  0.700699       0      0  0.9989
7  -0.176995     -0.417907 -0.165227       1      1  0.9773
8  -0.280795      0.581227 -0.165227       1      1  0.9349
9  -0.303862      0.081660 -0.165227       1      1  1.0000
10  0.780284      1.080794  1.233000       0      0  0.9999
11 -1.099672     -0.917474 -0.926191       1      1  1.0000
12  0.388146      0.581227  0.059689       0      0  1.0000
13  1.068620      1.580361  1.113044       0      0  0.9942

/home/admin/.local/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/.local/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      0  0.5404
1  -0.176995     -0.417907 -0.165227       1      1  0.9539
2   0.030608      0.081660  0.591990       0      0  0.8245
3   0.053675      0.081660  0.591990       1      0  0.8245
4  -0.349997      0.081660 -0.165227       1      1  0.9772
5  -0.349997     -0.417907 -0.165227       1      1  0.9772
6   0.987886      2.079929  0.700699       0      1  0.5358
7  -0.176995     -0.417907 -0.165227       1      1  0.9539
8  -0.280795      0.581227 -0.165227       1      0  0.5404
9  -0.303862      0.081660 -0.165227       1      1  0.9772
10  0.780284      1.080794  1.233000       0      0  0.9567
11 -1.099672     -0.917474 -0.926191       1      1  0.9870
12  0.388146      0.581227  0.059689       0      0  0.9100
13  1.068620      1.580361  1.113044       0      0  0.9567

In [9]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.8604
1  -0.176995     -0.417907 -0.165227       1      1  0.7868
2   0.030608      0.081660  0.591990       0      0  0.7703
3   0.053675      0.081660  0.591990       1      0  0.7703
4  -0.349997      0.081660 -0.165227       1      1  0.9537
5  -0.349997     -0.417907 -0.165227       1      1  0.9426
6   0.987886      2.079929  0.700699       0      0  0.8936
7  -0.176995     -0.417907 -0.165227       1      1  0.7868
8  -0.280795      0.581227 -0.165227       1      1  0.8514
9  -0.303862      0.081660 -0.165227       1      1  0.9558
10  0.780284      1.080794  1.233000       0      0  0.8936
11 -1.099672     -0.917474 -0.926191       1      1  0.9426
12  0.388146      0.581227  0.059689       0      0  0.8131
13  1.068620      1.580361  1.113044       0      0  0.8936

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.6123
1  -0.176995     -0.417907 -0.165227       1      1  0.8267
2   0.030608      0.081660  0.591990       0      1  0.5050
3   0.053675      0.081660  0.591990       1      1  0.5000
4  -0.349997      0.081660 -0.165227       1      1  0.7841
5  -0.349997     -0.417907 -0.165227       1      1  0.8415
6   0.987886      2.079929  0.700699       0      0  0.8693
7  -0.176995     -0.417907 -0.165227       1      1  0.8267
8  -0.280795      0.581227 -0.165227       1      1  0.6220
9  -0.303862      0.081660 -0.165227       1      1  0.7790
10  0.780284      1.080794  1.233000       0      0  0.8717
11 -1.099672     -0.917474 -0.926191       1      1  0.8749
12  0.388146      0.581227  0.059689       0      0  0.5954
13  1.068620      1.580361  1.113044       0      0  0.8829

In [11]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.5378
1  -0.176995     -0.417907 -0.165227       1      1  0.7651
2   0.030608      0.081660  0.591990       0      1  0.5667
3   0.053675      0.081660  0.591990       1      1  0.5667
4  -0.349997      0.081660 -0.165227       1      1  0.7664
5  -0.349997     -0.417907 -0.165227       1      1  0.7659
6   0.987886      2.079929  0.700699       0      0  0.5204
7  -0.176995     -0.417907 -0.165227       1      1  0.7651
8  -0.280795      0.581227 -0.165227       1      1  0.5378
9  -0.303862      0.081660 -0.165227       1      1  0.7664
10  0.780284      1.080794  1.233000       0      0  0.7263
11 -1.099672     -0.917474 -0.926191       1      1  0.7655
12  0.388146      0.581227  0.059689       0      0  0.5497
13  1.068620      1.580361  1.113044       0      0  0.7110

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.6123
1  -0.176995     -0.417907 -0.165227       1      1  0.6694
2   0.030608      0.081660  0.591990       0      1  0.5907
3   0.053675      0.081660  0.591990       1      1  0.5881
4  -0.349997      0.081660 -0.165227       1      1  0.6567
5  -0.349997     -0.417907 -0.165227       1      1  0.6721
6   0.987886      2.079929  0.700699       0      0  0.5252
7  -0.176995     -0.417907 -0.165227       1      1  0.6694
8  -0.280795      0.581227 -0.165227       1      1  0.6123
9  -0.303862      0.081660 -0.165227       1      1  0.6567
10  0.780284      1.080794  1.233000       0      0  0.5046
11 -1.099672     -0.917474 -0.926191       1      1  0.6900
12  0.388146      0.581227  0.059689       0      1  0.5796
13  1.068620      1.580361  1.113044       0      0  0.5359

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.6763
1  -0.176995     -0.417907 -0.165227       1      1  0.9094
2   0.030608      0.081660  0.591990       0      0  0.5938
3   0.053675      0.081660  0.591990       1      0  0.5938
4  -0.349997      0.081660 -0.165227       1      1  0.9094
5  -0.349997     -0.417907 -0.165227       1      1  0.9094
6   0.987886      2.079929  0.700699       0      0  0.8366
7  -0.176995     -0.417907 -0.165227       1      1  0.9094
8  -0.280795      0.581227 -0.165227       1      1  0.6763
9  -0.303862      0.081660 -0.165227       1      1  0.9094
10  0.780284      1.080794  1.233000       0      0  0.8366
11 -1.099672     -0.917474 -0.926191       1      1  0.9094
12  0.388146      0.581227  0.059689       0      0  0.7553
13  1.068620      1.580361  1.113044       0      0  0.8366

In [22]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

     EE_B(s)  CATS2D_03_AL  TPSA(NO)  active  Label   Score
0  -0.234662      0.581227 -0.165227       0      1  0.6201
1  -0.176995     -0.417907 -0.165227       1      1  0.7244
2   0.030608      0.081660  0.591990       0      1  0.5516
3   0.053675      0.081660  0.591990       1      1  0.5516
4  -0.349997      0.081660 -0.165227       1      1  0.7300
5  -0.349997     -0.417907 -0.165227       1      1  0.7349
6   0.987886      2.079929  0.700699       0      0  0.6131
7  -0.176995     -0.417907 -0.165227       1      1  0.7244
8  -0.280795      0.581227 -0.165227       1      1  0.6201
9  -0.303862      0.081660 -0.165227       1      1  0.7300
10  0.780284      1.080794  1.233000       0      0  0.6126
11 -1.099672     -0.917474 -0.926191       1      1  0.7356
12  0.388146      0.581227  0.059689       0      0  0.5437
13  1.068620      1.580361  1.113044       0      0  0.6143