In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 8)

In [4]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [5]:
F_sel = ['ZM1Kup', 'Mor11m', 'CATS2D_03_AL']
trainD = trainD[['ZM1Kup', 'Mor11m', 'CATS2D_03_AL','active']]
testD = testD[['ZM1Kup', 'Mor11m', 'CATS2D_03_AL','active']]

In [6]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=8, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True,n_jobs = 10)

In [6]:
compare_models()

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=10,
              num_parallel_tree=1, objective='binary:logistic',
              predictor='auto', random_state=8, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1, subsample=1, tree_method='auto',
              use_label_encoder=True, validate_parameters=1, verbosity=0)

In [7]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.9945
1   0.106060  0.827831     -0.046745       1      1  0.5258
2   0.438478 -0.120101     -0.046745       1      1  0.9201
3  -0.264133  0.025357     -1.505199       1      1  0.9862
4  -0.468117 -0.255263     -0.046745       1      1  0.9618
5  -0.581441  0.669297     -0.532897       1      1  0.9334
6  -0.392567  0.180622     -0.289821       0      1  0.9917
7  -1.268942  0.458464     -1.019048       1      1  0.9878
8  -0.724985  0.147935     -0.532897       1      1  0.9955
9  -0.241468 -0.411509      0.439406       0      0  0.8730
10  5.908267 -2.226798     -0.532897       0      1  0.9603
11 -0.392567  0.069485     -0.046745       0      1  0.9725
12  0.143835  1.450524      1.411708       0      0  0.8037
13  0.612242  0.845809     -0.532897       1      0  0.9636

In [8]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.5572
1   0.106060  0.827831     -0.046745       1      1  0.5470
2   0.438478 -0.120101     -0.046745       1      1  0.5290
3  -0.264133  0.025357     -1.505199       1      1  0.5572
4  -0.468117 -0.255263     -0.046745       1      1  0.5558
5  -0.581441  0.669297     -0.532897       1      1  0.5541
6  -0.392567  0.180622     -0.289821       0      1  0.5572
7  -1.268942  0.458464     -1.019048       1      1  0.5569
8  -0.724985  0.147935     -0.532897       1      1  0.5572
9  -0.241468 -0.411509      0.439406       0      0  0.5144
10  5.908267 -2.226798     -0.532897       0      1  0.5305
11 -0.392567  0.069485     -0.046745       0      1  0.5558
12  0.143835  1.450524      1.411708       0      0  0.5434
13  0.612242  0.845809     -0.532897       1      1  0.5270

In [17]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.8795
1   0.106060  0.827831     -0.046745       1      1  0.7090
2   0.438478 -0.120101     -0.046745       1      1  0.6644
3  -0.264133  0.025357     -1.505199       1      1  0.8720
4  -0.468117 -0.255263     -0.046745       1      1  0.8872
5  -0.581441  0.669297     -0.532897       1      1  0.7747
6  -0.392567  0.180622     -0.289821       0      1  0.8679
7  -1.268942  0.458464     -1.019048       1      1  0.8485
8  -0.724985  0.147935     -0.532897       1      1  0.8775
9  -0.241468 -0.411509      0.439406       0      0  0.5569
10  5.908267 -2.226798     -0.532897       0      1  0.6845
11 -0.392567  0.069485     -0.046745       0      1  0.8679
12  0.143835  1.450524      1.411708       0      0  0.8319
13  0.612242  0.845809     -0.532897       1      0  0.5989

In [10]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.9303
1   0.106060  0.827831     -0.046745       1      0  0.7236
2   0.438478 -0.120101     -0.046745       1      0  0.5000
3  -0.264133  0.025357     -1.505199       1      1  0.9192
4  -0.468117 -0.255263     -0.046745       1      1  0.8765
5  -0.581441  0.669297     -0.532897       1      1  0.8218
6  -0.392567  0.180622     -0.289821       0      1  0.8852
7  -1.268942  0.458464     -1.019048       1      1  0.8930
8  -0.724985  0.147935     -0.532897       1      1  0.9506
9  -0.241468 -0.411509      0.439406       0      0  0.5279
10  5.908267 -2.226798     -0.532897       0      0  0.6382
11 -0.392567  0.069485     -0.046745       0      1  0.8258
12  0.143835  1.450524      1.411708       0      0  0.8647
13  0.612242  0.845809     -0.532897       1      0  0.8298

In [9]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.5632
1   0.106060  0.827831     -0.046745       1      1  0.5059
2   0.438478 -0.120101     -0.046745       1      1  0.5161
3  -0.264133  0.025357     -1.505199       1      1  0.5654
4  -0.468117 -0.255263     -0.046745       1      1  0.5602
5  -0.581441  0.669297     -0.532897       1      1  0.5370
6  -0.392567  0.180622     -0.289821       0      1  0.5615
7  -1.268942  0.458464     -1.019048       1      1  0.5558
8  -0.724985  0.147935     -0.532897       1      1  0.5691
9  -0.241468 -0.411509      0.439406       0      1  0.5103
10  5.908267 -2.226798     -0.532897       0      1  0.5091
11 -0.392567  0.069485     -0.046745       0      1  0.5586
12  0.143835  1.450524      1.411708       0      0  0.5527
13  0.612242  0.845809     -0.532897       1      0  0.5124

In [18]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.6367
1   0.106060  0.827831     -0.046745       1      1  0.5682
2   0.438478 -0.120101     -0.046745       1      1  0.5971
3  -0.264133  0.025357     -1.505199       1      1  0.6395
4  -0.468117 -0.255263     -0.046745       1      1  0.6242
5  -0.581441  0.669297     -0.532897       1      1  0.6162
6  -0.392567  0.180622     -0.289821       0      1  0.6222
7  -1.268942  0.458464     -1.019048       1      1  0.6426
8  -0.724985  0.147935     -0.532897       1      1  0.6465
9  -0.241468 -0.411509      0.439406       0      1  0.5951
10  5.908267 -2.226798     -0.532897       0      1  0.6272
11 -0.392567  0.069485     -0.046745       0      1  0.6190
12  0.143835  1.450524      1.411708       0      0  0.5227
13  0.612242  0.845809     -0.532897       1      1  0.5775

In [13]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.9225
1   0.106060  0.827831     -0.046745       1      0  0.5871
2   0.438478 -0.120101     -0.046745       1      1  0.5137
3  -0.264133  0.025357     -1.505199       1      1  0.9096
4  -0.468117 -0.255263     -0.046745       1      1  0.8261
5  -0.581441  0.669297     -0.532897       1      1  0.6852
6  -0.392567  0.180622     -0.289821       0      1  0.9102
7  -1.268942  0.458464     -1.019048       1      1  0.8437
8  -0.724985  0.147935     -0.532897       1      1  0.9353
9  -0.241468 -0.411509      0.439406       0      0  0.6182
10  5.908267 -2.226798     -0.532897       0      1  0.5070
11 -0.392567  0.069485     -0.046745       0      1  0.8136
12  0.143835  1.450524      1.411708       0      0  0.8655
13  0.612242  0.845809     -0.532897       1      0  0.7785

In [13]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

      ZM1Kup    Mor11m  CATS2D_03_AL  active  Label   Score
0  -0.407677  0.152838     -0.532897       1      1  0.6794
1   0.106060  0.827831     -0.046745       1      1  0.5773
2   0.438478 -0.120101     -0.046745       1      1  0.5344
3  -0.264133  0.025357     -1.505199       1      1  0.6574
4  -0.468117 -0.255263     -0.046745       1      1  0.6792
5  -0.581441  0.669297     -0.532897       1      1  0.6209
6  -0.392567  0.180622     -0.289821       0      1  0.6792
7  -1.268942  0.458464     -1.019048       1      1  0.6777
8  -0.724985  0.147935     -0.532897       1      1  0.6958
9  -0.241468 -0.411509      0.439406       0      0  0.5016
10  5.908267 -2.226798     -0.532897       0      1  0.6166
11 -0.392567  0.069485     -0.046745       0      1  0.6792
12  0.143835  1.450524      1.411708       0      1  0.5044
13  0.612242  0.845809     -0.532897       1      0  0.5166

NameError: name 'svm' is not defined

In [ ]:
gbc_tuner.get_params(True)['param_distributions']

In [ ]:
et_tuner.get_params(True)['param_distributions']

In [ ]:
lgb_tuner.get_params(True)['param_distributions']

In [ ]:
xgb_tuner.get_params(True)['param_distributions']

In [ ]:
svm_tuner.get_params(True)['param_distributions']

In [ ]:
mlp_tuner.get_params(True)['param_distributions']