In [15]:
import numpy as np
import pandas as pd
df = pd.read_csv('descriptors-alva-66-fix.csv')
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 4)

In [17]:
trainD = pd.concat([x_train, y_train], axis =1)
testD = pd.concat([x_test, y_test], axis =1)

In [18]:
F_sel = ['O%', 'RDF065m', 'CATS2D_03_AL']
trainD = trainD[['O%', 'RDF065m', 'CATS2D_03_AL','active']]
testD = testD[['O%', 'RDF065m', 'CATS2D_03_AL','active']]

In [19]:
from pycaret.classification import *
cm = setup(data = trainD, target = 'active', train_size = 0.8, test_data = testD, silent=True,  numeric_features = F_sel,
             session_id=4, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True)

In [20]:
compare_models()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=4, verbose=0,
                       warm_start=False)

In [21]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedmlp)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.7764
1  -1.022166  0.313814      -0.65520       1      1  0.7560
2  -0.625104  0.108381      -0.65520       1      1  0.8255
3  -2.116768  4.826430      -1.79088       1      1  0.7470
4   1.853849 -0.094745       1.04832       0      0  0.9755
5  -2.116768 -1.132761      -1.79088       1      1  0.9843
6   0.118045  0.207635      -0.65520       1      1  0.8473
7   0.249505 -1.070901       0.19656       0      1  0.9409
8  -1.446056 -0.556393      -1.22304       1      1  0.9842
9  -1.083871 -0.274787      -1.22304       1      1  0.9753
10 -2.116768 -0.110902      -1.79088       1      1  0.7566
11 -1.083871  0.297657      -0.65520       1      1  0.7569
12  1.853849  2.033456       2.75184       0      0  0.9934
13  0.861195  0.295349       1.61616       0      0  0.9288

In [22]:
cat = create_model('catboost')
tunedcat = tune_model(cat, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedcat)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.5002
1  -1.022166  0.313814      -0.65520       1      1  0.5003
2  -0.625104  0.108381      -0.65520       1      1  0.5008
3  -2.116768  4.826430      -1.79088       1      1  0.5002
4   1.853849 -0.094745       1.04832       0      0  0.5009
5  -2.116768 -1.132761      -1.79088       1      1  0.5006
6   0.118045  0.207635      -0.65520       1      1  0.5009
7   0.249505 -1.070901       0.19656       0      0  0.5004
8  -1.446056 -0.556393      -1.22304       1      1  0.5011
9  -1.083871 -0.274787      -1.22304       1      1  0.5007
10 -2.116768 -0.110902      -1.79088       1      1  0.5002
11 -1.083871  0.297657      -0.65520       1      1  0.5003
12  1.853849  2.033456       2.75184       0      0  0.5006
13  0.861195  0.295349       1.61616       0      0  0.5012

In [38]:
lgb = create_model('lightgbm')
tunedlgb = tune_model(lgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedlgb)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.8112
1  -1.022166  0.313814      -0.65520       1      1  0.6736
2  -0.625104  0.108381      -0.65520       1      1  0.9779
3  -2.116768  4.826430      -1.79088       1      0  0.8678
4   1.853849 -0.094745       1.04832       0      1  0.6948
5  -2.116768 -1.132761      -1.79088       1      1  0.8372
6   0.118045  0.207635      -0.65520       1      1  0.9864
7   0.249505 -1.070901       0.19656       0      0  0.6298
8  -1.446056 -0.556393      -1.22304       1      1  0.9575
9  -1.083871 -0.274787      -1.22304       1      1  0.6298
10 -2.116768 -0.110902      -1.79088       1      1  0.9442
11 -1.083871  0.297657      -0.65520       1      1  0.7212
12  1.853849  2.033456       2.75184       0      0  0.9799
13  0.861195  0.295349       1.61616       0      0  0.7417

[LightGBM] [Warning] bagging_fraction is set=0.5661265691756381, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5661265691756381
[LightGBM] [Warning] feature_fraction is set=0.46350438509292685, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.46350438509292685
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.5661265691756381, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5661265691756381
[LightGBM] [Warning] feature_fraction is set=0.46350438509292685, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.46350438509292685
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.5661265691756381, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5661265691756381
[LightGBM] [Warning] feature_fraction is set=0.46350438509292685, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.46350438509292685
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.5661265691756381, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5661265691756381
[LightGBM] [Warning] feature_fraction is set=0.46350438509292685, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.46350438509292685
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.5661265691756381, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5661265691756381
[LightGBM] [Warning] feature_fraction is set=0.46350438509292685, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.46350438509292685
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [24]:
svm = create_model('rbfsvm')
tunedsvm = tune_model(svm, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedsvm)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.7682
1  -1.022166  0.313814      -0.65520       1      1  0.8703
2  -0.625104  0.108381      -0.65520       1      1  0.8929
3  -2.116768  4.826430      -1.79088       1      0  0.6309
4   1.853849 -0.094745       1.04832       0      0  0.8662
5  -2.116768 -1.132761      -1.79088       1      1  0.6046
6   0.118045  0.207635      -0.65520       1      1  0.6677
7   0.249505 -1.070901       0.19656       0      1  0.6113
8  -1.446056 -0.556393      -1.22304       1      1  0.8772
9  -1.083871 -0.274787      -1.22304       1      1  0.9075
10 -2.116768 -0.110902      -1.79088       1      0  0.4412
11 -1.083871  0.297657      -0.65520       1      1  0.8719
12  1.853849  2.033456       2.75184       0      0  0.6604
13  0.861195  0.295349       1.61616       0      0  0.8954

In [31]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedxgb)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.9987
1  -1.022166  0.313814      -0.65520       1      1  0.9692
2  -0.625104  0.108381      -0.65520       1      1  0.9991
3  -2.116768  4.826430      -1.79088       1      1  0.9738
4   1.853849 -0.094745       1.04832       0      1  0.6037
5  -2.116768 -1.132761      -1.79088       1      1  0.9994
6   0.118045  0.207635      -0.65520       1      1  0.9990
7   0.249505 -1.070901       0.19656       0      1  0.9610
8  -1.446056 -0.556393      -1.22304       1      1  0.9996
9  -1.083871 -0.274787      -1.22304       1      1  0.9986
10 -2.116768 -0.110902      -1.79088       1      1  0.9985
11 -1.083871  0.297657      -0.65520       1      1  0.9853
12  1.853849  2.033456       2.75184       0      0  0.7553
13  0.861195  0.295349       1.61616       0      0  0.9875

In [26]:
et = create_model('et')
tunedet = tune_model(et,n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedet)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.6791
1  -1.022166  0.313814      -0.65520       1      1  0.6444
2  -0.625104  0.108381      -0.65520       1      1  0.7204
3  -2.116768  4.826430      -1.79088       1      1  0.5115
4   1.853849 -0.094745       1.04832       0      0  0.7992
5  -2.116768 -1.132761      -1.79088       1      1  0.7801
6   0.118045  0.207635      -0.65520       1      1  0.5924
7   0.249505 -1.070901       0.19656       0      1  0.5880
8  -1.446056 -0.556393      -1.22304       1      1  0.8209
9  -1.083871 -0.274787      -1.22304       1      1  0.7728
10 -2.116768 -0.110902      -1.79088       1      1  0.6393
11 -1.083871  0.297657      -0.65520       1      1  0.6525
12  1.853849  2.033456       2.75184       0      0  0.8475
13  0.861195  0.295349       1.61616       0      0  0.8968

In [27]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedrf)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.6791
1  -1.022166  0.313814      -0.65520       1      1  0.5857
2  -0.625104  0.108381      -0.65520       1      1  0.6791
3  -2.116768  4.826430      -1.79088       1      1  0.5857
4   1.853849 -0.094745       1.04832       0      0  0.7313
5  -2.116768 -1.132761      -1.79088       1      1  0.8471
6   0.118045  0.207635      -0.65520       1      1  0.6334
7   0.249505 -1.070901       0.19656       0      1  0.5638
8  -1.446056 -0.556393      -1.22304       1      1  0.7581
9  -1.083871 -0.274787      -1.22304       1      1  0.7200
10 -2.116768 -0.110902      -1.79088       1      1  0.7200
11 -1.083871  0.297657      -0.65520       1      1  0.5857
12  1.853849  2.033456       2.75184       0      0  0.8657
13  0.861195  0.295349       1.61616       0      0  0.8657

In [28]:
gbc = create_model('gbc')
tunedgbc = tune_model(gbc, n_iter = 1000,  search_library = 'optuna', optimize = 'AUC')
predict_model(tunedgbc)

          O%   RDF065m  CATS2D_03_AL  active  Label   Score
0  -1.158991  0.013743      -1.79088       0      1  0.6076
1  -1.022166  0.313814      -0.65520       1      1  0.5456
2  -0.625104  0.108381      -0.65520       1      1  0.9414
3  -2.116768  4.826430      -1.79088       1      0  0.5445
4   1.853849 -0.094745       1.04832       0      0  0.7849
5  -2.116768 -1.132761      -1.79088       1      1  0.9850
6   0.118045  0.207635      -0.65520       1      1  0.9540
7   0.249505 -1.070901       0.19656       0      1  0.7248
8  -1.446056 -0.556393      -1.22304       1      1  0.9648
9  -1.083871 -0.274787      -1.22304       1      1  0.5386
10 -2.116768 -0.110902      -1.79088       1      1  0.8764
11 -1.083871  0.297657      -0.65520       1      1  0.5571
12  1.853849  2.033456       2.75184       0      0  0.9766
13  0.861195  0.295349       1.61616       0      0  0.9609